{% extends "college/layout.html" %}
{% load static %}

{% block title %}
الرئيسية
{% endblock %}

{% block body %}
  <main id="home" class="home-mainSection">
    <div class="container">
      <div class="row">
        <div class="col-sm">
        <div class="home-mainSection-content">
          <h3>المبدعين المسؤولين عن العملية التعليمية <h3>
            </div>
          </div>
        </div>
      </div>
        <a  class="home-mainLink home-mainSection-buttons-center arabic-fonts" href="#faculty">تعرف عليهم الان</a>
      <a class="home-arrow-link" href="#faculty"> <img class="home-mainSection-buttons-center home-arrow" src=" {%static 'college/images/banner-arrow.png' %}" alt=""/> </a>
      </main>

   

      <!-- New Section for Faculty Members -->
<section id="faculty" class="home-main-content-section">
  <p class=" home-About-head arabic-fonts text-right"> <span class="home-underabout arabic-fonts ">اعضاء </span> هيئة التدريس </p> <br>
  <p dir="rtl" class="text-right home-page-our-courses">
    تعرف على اعضاء هيئة التدريس المبدعين الذين يتميزون بمزيج من سنوات من الخبرة الأكاديمية والخبرات العملية في المعارض الدولية.
    </p>
  <div class="container">
    <div dir="rtl" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="img-fluid mx-auto d-block" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end">أ.د/ اسماء شاهين</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> تصميم<br>
              <strong>نبذة:</strong> أ.د اسماء شاهين, استاذة متخصصة في التصميم وذو خبرة تزيد عن 20 عام في تدريس مادة التصميم. يشمل اهتمامها الأكاديمي مبادئي التصميم والألوان وتاريخ الفن.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/dr-mohamed.jpeg' %}" class="img-fluid mx-auto d-block" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د.محمد حسن</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> التصوير<br>
              <strong>نبذة:</strong>  أستاذ في مادة التصوير والرسم. يمتاز بخبرة واسعة في تدريس مبادئ وتقنيات الرسم والتصوير، مع التركيز على تطوير مهارات الطلاب في التعبير الفني والتقني. شارك في العديد من المعارض الدولية والمحلية، حيث قدم أعماله الفنية التي تتميز بالابتكار والإبداع. بالإضافة إلى عمله الأكاديمي، يمتلك شركته Ebdaa Outdoor, شركة رائدة في تصميم الاعمال الهندسية والفنية والتي قدمت العديد من الحلول الإبداعية لكبرى الشركات في الوطن العربي.
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/dr-mahmoud.jpeg' %}" class="img-fluid mx-auto d-block" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. محمود ابو هادية</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> خزف<br>
              <strong>نبذة:</strong> د.محمود ابو هادية هو أستاذ متخصص في الخزف وله العديد من المعارض المحلية والدولية. يهتم بدراسة تاريخ الخزف وتطوير تقنيات جديدة في هذا المجال.
            </p>
          </div>
        </div>
      </div>

     
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/dr-shrief.jpg' %}" class="img-fluid mx-auto d-block" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د.شريف خضر</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> نحت<br>
              <strong>نبذة:</strong> أستاذ متخصص في مجال النحت والنجارة. يتمتع بخبرة واسعة في تدريس تقنيات النحت التقليدية والحديثة، ويعتبر من الرواد في تطبيق تقنيات النجارة المتقدمة في المشاريع الفنية.  يعمل الدكتور شريف على تدريب الجيل الجديد من الفنانين والمبدعين، ويشرف على العديد من المشاريع البحثية التي تهدف إلى تطوير أساليب جديدة في النحت والنجارة.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/dr-riham.jpg' %}" class="img-fluid mx-auto d-block" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د.ريهام سلامة</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> مناهج وطرق تدريس<br>
              <strong>نبذة:</strong> دكتورة ريهام سلامة هي أستاذة في تخصص الأشغال الفنية بكلية التربية الفنية. تتخصص في تدريس مجموعة متنوعة من المواد الفنية التي تشمل صناعة العرائس والمجسمات، العمل بالجلود والمعادن، واستخدام الخامات المستمدة من البيئة. تتميز دكتورة ريهام بقدرتها على دمج الفنون التقليدية مع الابتكارات الحديثة، مما يساعد الطلاب على تطوير مهاراتهم الفنية والإبداعية بشكل متكامل. تساهم في إثراء المحتوى التعليمي من خلال تقديم ورش عمل تطبيقية ومحاضرات تفاعلية تشجع الطلاب على استكشاف الخامات المختلفة واستخدامها بطرق مبتكرة. تشارك دكتورة ريهام أيضًا في المعارض الفنية والأبحاث التي تركز على تطوير الفنون التطبيقية وتحقيق الاستدامة من خلال استخدام خامات بيئية.
            </p>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/dr-aya.jpeg' %}" class="img-fluid mx-auto d-block" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د.آية حسين </h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> رسم وتصوير<br>
              <strong>نبذة:</strong> دكتورة آية حسين هي أستاذة في تخصص الرسم والتصوير تربية فنية جامعة السويس. تتميز بخبرتها العميقة ومعرفتها الواسعة في مجال الفنون التشكيلية، وتشتهر بإبداعاتها الفنية التي تعكس رؤيتها الفريدة وتفانيها في تعليم الطلاب. تساهم دكتورة آية بشكل فعال في تطوير المناهج الدراسية وتقديم محاضرات وورش عمل تهدف إلى تعزيز مهارات الطلاب وإلهامهم. كما تشارك بانتظام في المعارض الفنية والأبحاث الأكاديمية، مما يعزز مكانتها كقائدة فكرية وفنانة بارزة في مجال الرسم والتصوير.
            </p>
          </div>
        </div>
      </div>

      <!-- Add more cards as needed -->

    </div> <br>

  </div>
</section>

      
      {% endblock %}
     