{% extends "college/layout.html" %}
{% load static %}

{% block title %}
الرئيسية
{% endblock %}

{% block body %}
  <main id="home" class="home-mainSection">
    <div class="container">
      <div class="row">
        <div class="col-sm">
        <div class="home-mainSection-content">
          <h3>المبدعين المسؤولين عن العملية التعليمية <h3>
            </div>
          </div>
        </div>
      </div>
        <a  class="home-mainLink home-mainSection-buttons-center arabic-fonts" href="#faculty">تعرف عليهم الان</a>
      <a class="home-arrow-link" href="#faculty"> <img class="home-mainSection-buttons-center home-arrow" src=" {%static 'college/images/banner-arrow.png' %}" alt=""/> </a>
      </main>

   

      <!-- New Section for Faculty Members -->
<section id="faculty" class="home-main-content-section">
  <p class=" home-About-head arabic-fonts text-right"> <span class="home-underabout arabic-fonts ">اعضاء </span> هيئة التدريس </p> <br>
  <p dir="rtl" class="text-right home-page-our-courses">
    تعرف على اعضاء هيئة التدريس المبدعين الذين يتميزون بمزيج من سنوات من الخبرة الأكاديمية والخبرات العملية في المعارض الدولية.
    </p>
  <div class="container">
    <div dir="rtl" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end">أ.د/ اسماء شاهين</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> تصميم<br>
              <strong>نبذة:</strong> أ.د اسماء شاهين, استاذة متخصصة في التصميم وذو خبرة تزيد عن 20 عام في تدريس مادة التصميم. يشمل اهتمامها الأكاديمي مبادئي التصميم والألوان وتاريخ الفن.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. آية حسن</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> تصميم جرافيك<br>
              <strong>نبذة:</strong> د. آية حسن هي أستاذة تصميم جرافيك معروفة بقدرتها على دمج التقنيات الحديثة مع الفنون التقليدية. تركز أبحاثها على التفاعل بين المستخدم والتصميم الرقمي.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. محمود ابو هادية</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> خزف<br>
              <strong>نبذة:</strong> د.محمود ابو هادية هو أستاذ متخصص في الخزف وله العديد من المعارض المحلية والدولية. يهتم بدراسة تاريخ الخزف وتطوير تقنيات جديدة في هذا المجال.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. محمود ابو هادية</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> خزف<br>
              <strong>نبذة:</strong> د.محمود ابو هادية هو أستاذ متخصص في الخزف وله العديد من المعارض المحلية والدولية. يهتم بدراسة تاريخ الخزف وتطوير تقنيات جديدة في هذا المجال.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. محمود ابو هادية</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> خزف<br>
              <strong>نبذة:</strong> د.محمود ابو هادية هو أستاذ متخصص في الخزف وله العديد من المعارض المحلية والدولية. يهتم بدراسة تاريخ الخزف وتطوير تقنيات جديدة في هذا المجال.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. محمود ابو هادية</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> خزف<br>
              <strong>نبذة:</strong> د.محمود ابو هادية هو أستاذ متخصص في الخزف وله العديد من المعارض المحلية والدولية. يهتم بدراسة تاريخ الخزف وتطوير تقنيات جديدة في هذا المجال.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="{% static 'college/images/instructor0.jpg' %}" class="card-img-top" alt="Professor image">
          <div class="card-body">
            <h5 class="card-title text-end home-teaching-staff-paragraph">د. محمود ابو هادية</h5>
            <p class="card-text text-end home-teaching-staff-paragraph">
              <strong>التخصص:</strong> خزف<br>
              <strong>نبذة:</strong> د.محمود ابو هادية هو أستاذ متخصص في الخزف وله العديد من المعارض المحلية والدولية. يهتم بدراسة تاريخ الخزف وتطوير تقنيات جديدة في هذا المجال.
            </p>
          </div>
        </div>
      </div>

      <!-- Add more cards as needed -->

    </div> <br>

  </div>
</section>

      
      {% endblock %}
     